@charset "utf-8";
@import '../../scss/utils/';

.area_article {
  padding: 20px;
}

.area_edit {
  padding-top: 20px;
}

.title {
  display: block;
  padding: 0 20px; 
  font-size: 16px;
  color: #999;
}