@charset "utf-8";
@import '../../scss/utils/';

.form {
  position: relative;
  margin-top: 10px;
}
.input_group {
  position: relative;
  padding: 0 20px;
  border-bottom: 2px solid #eee;
  box-sizing: border-box;
}
.label {
  display: block;
  font-size: 15px;
  line-height: 40px;
}
.label_text {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.input_control {
  display: inline-block;
  width: 60%;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
  border: none;

  .type_textarea {
    line-height: 1.4;
  }
}
.button_group {
  margin-top: 15px;
  padding: 0 20px;
  text-align: right;
}
.button_submit,
.button_cancel {
  display: inline-block;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  border: 2px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
}
.button_submit {
  color: $mainColor1;
  border-color: $mainColor1;
}
.button_cancel {
  margin-left: 10px;
  color: #999;
}